/* ======= DASHBOARD ======= */

.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
  }

  .main-title {
    color: #2470ff;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
  }
  
  .select-category-form {
    width: 100%;
  }
  
  .select-category-search-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .select-category-search-form  form{
    width: 100%;
    text-align: center;
  }

  .select-category-search-form input{
    width: 30%;
    padding: .5%;
    border: 2px solid #E7E7E7;
  }

  .search-button {
    padding: .5%;
    width: 4%;
    /* border: 1px solid black; */
    border-left: none;
    background: #E7E7E7;
  }

  .search-button:hover {
    background: #E7E7E7;
    cursor: pointer;
    text-decoration: none;
    border: 2px solid black;
  }

  .search-button:focus .search-button:active{
    outline:0;
    background-color: #555555;
  }
  
  .category-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2% 0;
  }
  
  .category {
    margin: .7% .7%;
    background-color: #e7e7e7;
    padding: .7%;
    border-radius: 5px;
    color: black;
  }
  
  .category:hover {
    cursor: pointer;
    background-color: rgb(197, 197, 197);
  }

  .results-options {
    padding: 1%;
    width: 91%;
    display: flex;
    justify-content: space-between;
  }
  
  .clickable-filter:hover {
    cursor: pointer;
  }

  @media only screen and (max-width: 1000px) {
    .dashboard {
      width: 100%;
    }

    .main-title {
      font-size: 2rem;
    }

    .results-options {
      font-size: 14px;
    }
  }