.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* * {
  border: 1px solid black;
} */

.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ======= NAVBAR ======= */

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.logo {
  margin-left: 3%;
  width: 20%;
}

.logo h3 {
  font-size: 1.5rem;
}

.nav-links {
  width: 30%;
  display: flex;
  justify-content: space-around;
  font-size: 1.3rem;  
}

.nav-links a {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.nav-links a:hover {
  color: blue;
}

/* ======= LOGIN PAGE ======= */

.login {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}

/* ======= EXPERT CARD ======= */

.expert {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-bottom: 1.5%;
}

.expert-img-container {
  width: 15%;
}

.expert-img {
  max-width: 100%;
  border-radius: 50%;
}

.expert-name {
  font-size: 1.3rem;
}

.expert-text {
  width: 60%;
}

.expert-category-rating {
  display: flex;
  justify-content: space-evenly;
  width: 20%;
}

.expert-category {
  width: 50%;
  padding: 1%;
}

.expert-voting {
  width: 50%;
}