.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

* {
  font-family: 'Roboto', sans-serif;
  /* border: 1px solid black; */
  color: #444444;
}

/* ======= DASHBOARD ======= */

.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}

.select-category-form {
  width: 100%;
}

.select-category-search-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.category-list {
  display: flex;
  margin: 3% 0;
}

.category {
  margin: 0 .7%;
}

.category:hover {
  cursor: pointer;
  color: #8a8a8a;
}

/* ======= NAVBAR ======= */

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  /* position: absolute; */
}

.logo {
  margin-left: 3%;
  width: 20%;
}

.logo h3 {
  font-size: 1.5rem;
}

.logo a {
  text-decoration: none;
}

.nav-links {
  width: 40%;
  padding: 1%;
  display: flex;
  justify-content: space-evenly;
  font-size: 1.3rem;  
}

.nav-links a {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.nav-links a:hover {
  color: blue;
}

/* ======= LOGIN PAGE ======= */

.login-container {
  width: 40%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 5px;
}

.login-container h2 {
  margin-bottom: 0%;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}

.input-container input {
  height: 20px;
  width: 100%;
  font-size: 1rem;
  border: 1px solid #CFD4DA;
  border-radius: 5px;
}

.input-container p {
  margin-bottom: 2%;
}

.email-container {
  width: 100%;
  height: 50%;
  margin-bottom: 3%;
}

.password-container {
  width: 100%;
}

.errors{
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 100%;
  margin-bottom: -3%;
  font-size: .8rem;
  color: rgb(255, 83, 83);
}

.errors p {
  color:rgb(255, 83, 83);
  padding: 1%;
  margin-top: 0%;
}

.input-container button {
  width: 100%;
  font-size: 1.2rem;
  background: #46cbcf;
  border: none;
  border-radius: 5px;
  margin-top: 10%;
  cursor: pointer;
  transition: all 0.5s;
}

.login-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  color: white;
}

.login-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.login-button:hover span {
  padding-right: 25px;
}

.login-button:hover span:after {
  opacity: 1;
  right: 0;
}

/* ======= SIGN UP PAGE ======= */

.signup-container {
  width: 40%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  background-color: white;
}

.signup-container h2 {
  margin-bottom: 0%;
}

.username-container {
  width: 100%;
}

.signup-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  color: white;
}

.signup-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.signup-button:hover span {
  padding-right: 25px;
}

.signup-button:hover span:after {
  opacity: 1;
  right: 0;
}


/* ======= EXPERT CARD ======= */

.expert {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-bottom: 1.7%;
  border-radius: 5px;
  background-color: white;
  padding: .5%;
  border: 1px solid transparent;
}

.expert:hover {
  border: 1px solid blue;
}

.expert-img-container {
  width: 13%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.expert-img {
  max-width: 80%;
  border-radius: 50%;
}

.expert-name {
  font-size: 1.6rem;
  margin: 0 0;
  padding: 1% 0;
}

.expert-name-link {
  text-decoration: none;
}

.expert-text {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.expert-socials {
  display: flex;
  white-space: nowrap;
  padding: 1% 0;
}

.expert-youtubeChannel {
  margin-left: 15%;
  white-space: nowrap;
}

.expert-category-rating {
  display: flex;
  justify-content: space-evenly;
  width: 20%;
}

.expert-category {
  width: 50%;
  padding: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.expert-card-voting {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

.expert-card-voting p {
  margin: 5% 0;
}

.upvote-icon {
  width: 20%;
  transform: rotate(-90deg);
}

.upvote-icon:hover {
  filter: invert(10%) sepia(81%) saturate(4685%) hue-rotate(248deg) brightness(128%) contrast(159%);
}

.downvote-icon {
  width: 20%;
  transform: rotate(90deg);
}

.downvote-icon:hover {
  filter: invert(31%) sepia(98%) saturate(6669%) hue-rotate(355deg) brightness(101%) contrast(130%);
}

/* ======= EXPERT PAGE ======= */

.expert-component {
  width: 90%;
}

.expert-component-name {
  font-size: 2rem;
}

.expert-detail-card {
  display: flex;
  justify-content: space-between;
  border: 1px solid rgb(190, 190, 190); 
  margin: 2% 5%; 
}

.expert-detail-card-title {
  font-size: 1.5rem;
}

.expert-detail-voting-rating-wrapper {
  display: flex;
  width: 20%;
}

.expert-detail-voting {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
}

/* ======= SELECTCATEGORY FORM ======= */
.select-category-container {
  background-color: white;
  display: flex;
  flex-direction: column;
}

.form-containers {
  padding: 1%;
}

.select-categories {
  display: flex;
  flex-direction: column;
}

https://codepen.io/sosuke/pen/Pjoqqp