.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

* {
  font-family: 'Roboto', sans-serif;
  /* border: 1px solid black; */
}


.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}

/* ======= NAVBAR ======= */

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.logo {
  margin-left: 3%;
  width: 20%;
}

.logo h3 {
  font-size: 1.5rem;
}

.nav-links {
  width: 30%;
  display: flex;
  justify-content: space-around;
  font-size: 1.3rem;  
}

.nav-links a {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.nav-links a:hover {
  color: blue;
}

/* ======= LOGIN PAGE ======= */

.login {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}

/* ======= EXPERT CARD ======= */

.expert {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-bottom: 1.7%;
  border: 1px solid #dedede;
}

.expert:hover {
  cursor: pointer;
  transform: scale(1.005);
  border: 1px solid blue;
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  -webkit-transition: transform .03s ease-in-out;
}

.expert-img-container {
  width: 13%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.expert-img {
  max-width: 80%;
  border-radius: 50%;
}

.expert-name {
  font-size: 1.3rem;
}

.expert-text {
  width: 60%;
}

.expert-category-rating {
  display: flex;
  justify-content: space-evenly;
  width: 20%;
}

.expert-category {
  width: 50%;
  padding: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.expert-voting {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
}

.upvote-icon {
  width: 20%;
  transform: rotate(-90deg);
}

.upvote-icon:hover {
  filter: invert(10%) sepia(81%) saturate(4685%) hue-rotate(248deg) brightness(128%) contrast(159%);
}

.downvote-icon {
  width: 20%;
  transform: rotate(90deg);
}

.downvote-icon:hover {
  filter: invert(31%) sepia(98%) saturate(6669%) hue-rotate(355deg) brightness(101%) contrast(130%);
}



https://codepen.io/sosuke/pen/Pjoqqp