.expert-detail-card {
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    margin: 2% 5%; 
    filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.25));
    background-color: white;
    padding: .5%;
}

.expert-detail-card-title {
    font-size: 1.5rem;
    margin: 1% 0;
}

.left-content {
    width: 90%;
}

.expert-detail-voting-rating-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 20%;
}

.expert-detail-card-rating {
    display: flex;
    align-items: center;
    
}

@media only screen and (max-width: 1000px) {
    .expert-detail-card {
        margin: 0;
        padding: 0;
        flex-direction: column;
    }

    .left-content {
        width: 100%;
    }

    .expert-detail-card-url {
        word-wrap: break-word;
    }

    .expert-detail-voting-rating-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-content: space-between;
        width: 100%;
        margin-top: 5%;
    }
}

  

  