.expert-detail-card {
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    margin: 2% 5%; 
    filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.25));
    background-color: white;
}

.expert-detail-card-title {
    font-size: 1.5rem;
    margin: 1% 0;
}

.expert-detail-title-url {
    font-size: 1.6rem;
    text-decoration: none;
    font-weight: 600;
    display: flex;
    margin-top: 2%;
}

.expert-detail-title-url:hover {
    color: rgb(128, 128, 128);
}

.expert-detail-card-url {
    text-decoration: none;
    font-weight: 500;
    margin-top: 2%;
    display: block;
    font-size: 1.3rem;
    word-wrap: break-word;
}

.expert-detail-card-url:hover {
    color: rgb(128, 128, 128);
}

.expert-detail-card-author {
    font-size: 1rem;
    margin-top: .7%;
}

.expert-detail-card-submitted {
    font-size: .8rem;
    margin-bottom: 2%;
}

.expert-detail-card-text {
    font-size: 1.3rem;
    margin-bottom: 0;
}

.left-content {
    width: 90%;
    padding-left: 2%;
}

.expert-detail-voting-rating-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 20%;
    padding: 0;
    margin: 0;
}

.expert-detail-card-rating {
    display: flex;
    align-items: center;
    
}

@media only screen and (max-width: 1000px) {
    #detailForm {
        margin-bottom: 3%;
    }

    .expert-detail-card {
        margin: 0;
        margin-bottom: 3%;
        padding: 1%;
        /* flex-direction: column; */
    }

    .left-content {
        width: 90%;
        word-wrap: break-word;
    }

    .expert-detail-card-submitted {
        word-wrap: break-word;
    }

    .expert-detail-card-url {
        word-wrap: break-word;
    }

    .expert-detail-voting-rating-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 30%;
    }
    
}

  

  