/* ======= EXPERT CARD ======= */

.expert {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin-bottom: 1.7%;
    border-radius: 5px;
    background-color: white;
    padding: .5%;
    filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.25));
  }

  .left-content {
    width: 60%;
  }

  .right-content {
    width: 30%;
    display: flex;
    justify-content: space-between;
  }

  
  .expert-img-container {
    width: 13%;
    display: flex;
    justify-content: center;
    align-items: center;  
  }
  
  .expert-img {
    max-width: 80%;
    border-radius: 50%;
  }
  
  .expert-name {
    font-size: 1.6rem;
    margin: 0 0;
  }
  
  .expert-name-link {
    text-decoration: none;
  }
  
  .expert-text {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .expert-socials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    white-space: nowrap;
  }

  .expert-socials-links {
    width: 40%;
    display: flex;
    flex-direction: row;
  }

  .expert-twitter {
    width: 60%;
  }
  
  .expert-youtubeChannel {
    white-space: nowrap;
  }
  
  .expert-category-rating {
    display: flex;
    justify-content: space-evenly;
    width: 30%;
  }
  
  .expert-category {
    width: 50%;
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .expert-card-voting {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
  }
  
  .expert-card-voting p {
    margin: 5% 0;
  }
  
  .upvote-icon {
    width: 20%;
    transform: rotate(-90deg);
    filter: invert(89%) sepia(10%) saturate(13%) hue-rotate(315deg) brightness(90%) contrast(84%);
  }
  
  .upvote-icon:hover {
    filter: invert(32%) sepia(96%) saturate(2947%) hue-rotate(213deg) brightness(103%) contrast(101%);
    cursor: pointer;
  }
  
  .downvote-icon {
    width: 20%;
    transform: rotate(90deg);
    filter: invert(89%) sepia(10%) saturate(13%) hue-rotate(315deg) brightness(90%) contrast(84%);
  }
  
  .downvote-icon:hover {
    cursor: pointer;
    filter: invert(60%) sepia(65%) saturate(2803%) hue-rotate(343deg) brightness(102%) contrast(101%);
  }

  .updated-date {
    display: flex;
    padding: 0;
    margin: 0;
  }