.new-expert {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-expert form {
    width: 80%;
}

.experts-details-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.experts-details-form input {
    width: 100%;
}